* {
  box-sizing: border-box;
}

.landing-page {
  background-image: url('grey-background.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
  color: white;
  z-index: 1;
  font-family: 'roboto', sans-serif;
  margin: -10px;
  font-size: 20pt;
  font-weight: 300;
}

body {
  opacity: 90%;
  height: 100%;
  background-image: url('grey-background.jpg');
}

.landing-page-content {
  margin: 40px;
}

body {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.content {
  margin: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.orange{
  color: darkorange;
  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 white, 0 -1px white;
  font-size: 48pt;
  line-height: 2;
}
ol {
  margin-top: -30px;
}
li {
  list-style-position: inside;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
}

.landing-button {
  border-radius: 4pt;
  border: 1px solid #51514f;
  color: #d59563;
  background-color: #263c3f;
  font-size: 24pt;
  padding: 30px;
  cursor: pointer;
}

.landing-button:hover {
  color: darkorange;
  border: 2px solid darkorange;
}

#map {
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
  border-radius: 4pt;
}

main {
  padding: 15px;
  margin: auto 0;
  text-align: center;
}

#clickMe {
  margin: 0 auto;
  margin-top: 12px;
  font-family: 'Rock Salt', cursive;
  font-size: 20pt;
  background-color: #d59563;
  border-radius: 4pt;
  border: 0;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  padding: 15px 30px;
}

#clickMe:hover {
  background-color: darkorange;
}

.infoWindow {
  overflow: scroll;
  height: 175px;
}

.hood-name {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 50pt;
  color: darkorange;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  margin: 0;
}

@media only screen and (max-width: 640px) {
  .hood-name {
    font-size: 40pt;
  }
  #map {
    width: 100%;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .landing-page {
    font-size: 17pt;
  }

  .landing-button {
    width: 75%;
    font-size: 20pt;
  }
  .orange {
    font-size: 36pt;
    line-height: 0;
  }
}

@media only screen and (max-height: 700px) {
  #clickMe {
    font-size: 12pt;
  }
}
