* {
  box-sizing: border-box;
}
html {
  border: 2px solid rgba(255, 140, 0, 0.5);
  opacity: 90%;
  height: 100%;
  background-image: url('grey-background.jpg');
}

body {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.landing-page {
  background-color: rgba(0, 0, 0, .8);
  margin: 0 auto;
  position: fixed;
  height: 1000px;
  width: 100%;
  color: white;
  overflow: hidden;
  z-index: 1;
  font-family: 'roboto', sans-serif;
}

.orange{
  color: darkorange;
  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 24pt;
}

li {
  list-style-position: inside;
  font-size: 20pt;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
}

.landing-button {
  width: 200px;
  height: 75px;
  border-radius: 4pt;
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 34pt;
}

.landing-button:hover {
  color: darkorange;
  border: 1px solid darkorange;
}

#map {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

main {
  padding: 15px;
}

#clickMe {
  margin: 0 auto;
  margin-top: 12px;
  font-family: 'Rock Salt', cursive;
  font-size: 20pt;
  background-color: rgba(177, 50, 211, .8);
  border-radius: 4pt;
  border: 0;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

#clickMe:hover {
  background-color: darkturquoise;
}

.infoWindow {
  overflow: scroll;
  height: 175px;
}

.hood-name {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 50pt;
  color: darkorange;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .hood-name {
    font-size: 40pt;
  }
  #map {
    width: 100%;
  }
  .landing-button {
    width: 75%;
  }
}

@media only screen and (max-height: 700px) {
  #clickMe {
    font-size: 12pt;
  }
}
